h1{
    text-align: center;
    font-size: 70px;
}
img{
    width: 5%;
   position: absolute; 
    left: 61%;
    top: 5%;
    border-radius: 50%;
}
#navbar {
    background:transparent;
    width: 70%;
    height: 3rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    float: left;
    background-size: fill;
    text-decoration: none;
}

#navlogo {
    height: 2.36rem;
    transition: background-color 0.2s;
    padding: 5px;
    float: right;
}



#navbar>ul>a {
    float: right;
    display: block;
    background:transparent;
    color: #eaeaea;
    font-family: Roboto, Ariel;
    text-align: center;
    padding-top: 0.9rem;
    width: 150px;
    height: 2.1rem;
    transition: background-color 0.2s;
    background-color: black;
}
/**/


#navbar>ul>a:hover {
    background:transparent;
}

a {
    color: #ececec;
    font-size:xx-large;
    width: 1%;  
    text-decoration: none;
    position: absolute;
    top: 15%;
    left: 48%;
    background-color: black;
    border-radius: 15%;
    width: 5%;
    height: 5%;

}

body{
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#000000)) fixed;

}
#IMAGEM2{
    position:absolute;
    width: 20%;
    top: 30%;
    left: 40%;
    border-radius: 5%;
}
#WINDOH{
    text-decoration: none;
        line-height: 5%;
    color: #eaeaea;
    font-size: 20px;
   position: absolute; 
    left: 40%;
    top: 53%;
}
#COMPRAS2{
    width: 5%;
    height: 5%;
    color: #eaeaea;
    font-size: 20px;
   position: absolute; 
    left: 54%;
    top: 57%;
    background-color: #000000;
    border-radius: 15%;
}

#IMAGEM1{
    position:absolute;
    width: 15%;
    top: 30%;
    left: 15%;
    border-radius: 5%;
}
#BOTS{
   
    text-decoration: none;
        line-height: 5%;
    color: #eaeaea;
    font-size: 20px;
   position: absolute; 
    left: 15%;
    top: 53%;
}
#COMPRAS1{
    width: 5%;
    height: 5%;
    color: #eaeaea;
    font-size: 20px;
   position: absolute; 
    left: 25%;
    top: 57%;
    background-color: #000000;
    border-radius: 15%;
}

#IMAGEM3{
    position:absolute;
    width: 20%;
    top: 30%;
    left: 70%;
    border-radius: 5%;
}
#DarkFrame{
    text-decoration: none;
        line-height: 5%;
    color: #eaeaea;
    font-size: 20px;
   position: absolute; 
    left: 70%;
    top: 53%;
}
#COMPRAS3{
    width: 5%;
    height: 5%;
    color: #eaeaea;
    font-size: 20px;
   position: absolute; 
    left: 84%;
    top: 57%;
    background-color: #000000;
    border-radius: 15%;
}
#IMAGEM4{
    position:absolute;
    width: 15%;
    top: 72%;
    left: 15%;
    border-radius: 5%;
}
#Indiano{
   
    text-decoration: none;
        line-height: 5%;
    color: #eaeaea;
    font-size: 20px;
   position: absolute; 
    left: 15%;
    top: 100%;
}
#COMPRAS4{
    width: 5%;
    height: 5%;
    color: #eaeaea;
    font-size: 20px;
   position: absolute; 
    left: 25%;
    top: 102%;
    background-color: #000000;
    border-radius: 15%;
}

#IMAGEM5{
    
    width: 15%;
    top: 72%;
    left: 40%;
    border-radius: 5%;
}
    #Safira{
   
    text-decoration: none;
        line-height: 5%;
    color: #eaeaea;
    font-size: 20px;
   position: absolute; 
    left: 15%;
    top: 100%;
}
#COMPRAS5{
    width: 5%;
    height: 5%;
    color: #eaeaea;
    font-size: 20px;
   position: absolute; 
    left: 25%;
    top: 102%;
    background-color: #000000;
    border-radius: 15%;
}


  
